/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-carkeek-blocks-custom-link-list {
    border: 1px solid #ccc;
    padding: 1rem;
}
.server-side-render .notes {
    font-size: 10px;
}
